<CodeSnippet>
	<Title>
		My Snippet
	</Title>
	<ToolTip>
		My tool tip
	</ToolTip>
	<Code Language="RML">
		<![CDATA[
		<button >
			<span>
				test arf arf arf
			</span>
		</button>
		]]>
	</Code>
</CodeSnippet>