<CodeSnippet>
    <Title>
        synchronous update
    </Title>
    <ToolTip>
        My test  tool tip
    </ToolTip>
    <Code Language="RML">
        <![CDATA[
        <button >
            <span>
                test arf arf arf
            </span>
        </button>
        ]]>
    </Code>
</CodeSnippet>