<CodeSnippet>
    <Title>
        testing bis bis bis
    </Title>
    <ToolTip>
        test encore bis
    </ToolTip>
    <Code Language="RML">
        <![CDATA[
body.__window__
{
    padding-top: __monInt__px;
    padding-bottom: 20px;
    padding-left:50px;
    
    min-width: 250px;
    max-width: 800px;
    
    min-height: 135px;
    max-height: 700px;
}
        ]]>
    </Code>
</CodeSnippet>